body {
	background-color: #f8f8f8;

	font-family: sans-serif;
}

canvas {
	display: block;
	max-height: 100%;
	max-width: 100%;

	background-color: white;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.center .canvas-container {
	border: 1rem solid white;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
}

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
